body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FF0000;
  color: black;
}

.topnav a.active {
  background-color: #FF0000;
  color: white;
}

.topnav-right {
  float: right;
}


.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 5px;
  margin-top: 10px;
  font-size: 14px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 10px;
  margin-right: 456px;
  background: #ddd;
  font-size: 12.5px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}


.container {
  position: relative;
  font-family: Arial;
  max-height: none;
}

.con-iframe{
  position: absolute;
  top: 220px;
  left: 870px;
}

.intro {
    color: white;
    line-height: 0;
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: left;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2);
}

.intro h5 {
    color: #E71D36;
    font-size: 22px;
    position: absolute;
    bottom: 65px;
}

.intro h1{
    font-size: 48px;
    position: absolute;
    bottom: 25px;
}

.text-block {
    position: absolute;
    border-radius: 5%;
    top: 370px;
    left: 30px;
    background-color: #E71D36;
    color: white;
    padding-left: 15px;
    padding-right: 15px; 
}

.text-block:hover {
  background-color: rgba(231, 29, 54, 06);
  opacity: 0.5;
}

.column {
  float: left;
  text-align: justify;
  width: 20%;
  padding-left: 80px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  padding-left: 10px;
  background: linear-gradient(to right, red, black, darkblue);
  color: white;
}

.logo {
  padding-left: 20px;
  
}


* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 250px; /*should be the same height as the images*/
  padding-top: 15px;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  vertical-align:middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

.column-pics {
  float: left;
  text-align: justify;
  width: 25%;
  padding-left: 20px;
}
.row-pics:after {
  content: "";
  display: table;
  clear: both;
}


/* SIDEBAR */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: black;
  margin: auto;
  padding: 20px;
  width: 70%;
  opacity: 90%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* 2 */
/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color: black;
  margin: auto;
  padding: 20px;
  width: 70%;
  opacity: 90%;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}